<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="[ '/inicio' ]">
        <div class="sidebar-brand-icon">
          <img class="logo img-fluid responsive" src="assets/img/logo_tp.svg" >
        </div>
    </a>
    <hr class="sidebar-divider my-0">
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="[ '/inicio' ]">
            <i class="fas fa-user-friends"></i>
            <span>Inicio</span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
